# macOS
.DS_Store

# Python virtual environments
env/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/